@import "./header.css";
@import "./login.css";
@import "./table.css";

:root {
  --color-accent: #155dfc;
  --color-accent-surface: #dbeafe;
  --color-accent-hover: #1447e6;
  --color-background: #f3f4f6;

  --color-gray: #d1d5dc;

  --color-white: #ffffff;

  --color-red-surface: #fecaca;
  --color-red: #c10007;
  --color-yellow-surface: #fde68a;
  --color-green-surface: #b9f8cf;

  --radius-10: 5px;
  --radius-full: calc(infinity * 1px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--color-background);
}

button {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: var(--radius-10);
  padding: 0.7rem 1.5rem;
}

button:hover {
  background-color: var(--color-accent-hover);
}

button:active {
  transform: scale(0.97);
}

input {
  border-radius: var(--radius-10);
  border: 1px solid var(--color-background);
  padding: 0.7rem 1rem;
  outline: none;
  /* background-color: transparent; */
  position: relative;
  width: 100%;
}

input:focus {
  box-shadow: inset 0 0 0 1px var(--color-accent);
}

.callout-error {
  background-color: var(--color-red-surface);
  border-radius: var(--radius-10);
  padding: 0.8rem 1.1rem;
  color: var(--color-red);
  display: flex;
  text-align: center;
  gap: 7px;
}

.callout-error .material-symbols-outlined {
  font-size: inherit;
  line-height: 1.3;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--color-accent-hover);
}

select {
  border-radius: var(--radius-10);
  padding: 0.7rem;
  border: 1px solid var(--color-background);
  outline: none;
}

select:focus {
  box-shadow: inset 0 0 0 1px var(--color-accent);
}
.container-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-competition {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
