:root {
  --color-accent: #4f46e5;
  --color-accent-hover: #432dd7;
  --color-background: #f3f4f6;

  --color-gray: #d1d5dc;

  --color-white: #ffffff;

  --color-red-surface: #fecaca;
  --color-red: #c10007;
  --color-yellow-surface: #fde68a;

  --radius-10: 10px;
  --radius-full: calc(infinity * 1px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: calc(infinity * 1px);
  padding: 0.8rem 1.8rem;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

button:hover {
  background-color: var(--color-accent-hover);
}

button:active {
  transform: scale(0.95);
}

input {
  border-radius: calc(infinity * 1px);
  border: 1px solid var(--color-gray);
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
  width: 100%;
}

input:focus {
  border: 1px solid var(--color-accent);
  outline: none;
}

.callout-error {
  background-color: var(--color-red-surface);
  border-radius: var(--radius-full);
  padding: 1rem 1.3rem;
  color: var(--color-red);
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 7px;
}

.callout-error .material-symbols-outlined {
  font-size: inherit;
  line-height: 1.3;
}
