.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.form-login {
  background-color: var(--color-white);
  border-radius: var(--radius-10);
  padding: 3em;
  max-width: 460px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);

  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.form-login > p {
  color: gray;
  margin-bottom: 1em;
}

.form-login img {
  max-width: 200px;
}
